<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="TestRunner1">
    <classes>
      <class name="organisation.CreateOrganisationTest"/>
      </classes>
      </test>
      <test name="TestRunner2">
      <classes>
            <class name="organisation.CreateProductAndDeleteProductTest"/> 
       </classes>
        </test>
      
      <test name="TestRunner3">
        <classes>
           <class name="organisation.CreateCampaignsTest"/>
         </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- Parallel browser Execution-->